@model Receiver

@{
    ViewData["Title"] = "Cart";
}

<div class="container p-3 d-none" id="parentContainer">
    <div class="mb-5" id="titleDiv">
        <div class="container-fluid">
            <h1>Check out your items.</h1>
        </div>
    </div>

    <div class="row d-flex flex-column-reverse flex-lg-row">
        <div class="text-center mt-5" id="noOrderDiv">
            <h6>Add items to cart from the <a href="/Home">Shop</a>.</h6>
        </div>
        <form class="col p-3 d-flex flex-column-reverse flex-lg-row" method="post" id="col1">
            <div class="col container border p-3 me-lg-2">
                <div class="justify-content-center align-items-center flex-grow-1">
                    <h2 class="mb-2">Checkout.</h2>
                    <p class="text-uppercase">Shipping details</p>
                    <hr/>
                    <div class="m-2">
                        <div class="row">
                            <div class="col-md-6 mb-3 p-1 form-floating">
                                <input asp-for="FirstName" class="form-control" id="firstNameControl"/>
                                <label asp-for="FirstName"></label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3 p-1 form-floating">
                                <input asp-for="LastName" class="form-control" id="lastNameControl"/>
                                <label asp-for="LastName"></label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 p-1 form-floating">
                            <input asp-for="ContactNo" class="form-control" id="contactNoControl"/>
                            <label asp-for="ContactNo"></label>
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                        <div class="row mb-3 p-1 form-floating">
                            <input asp-for="Address" class="form-control" id="addressControl"/>
                            <label asp-for="Address"></label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="container col-md-5 p-0 text-end">
                    <button type="submit" class="btn btn-warning w-100" id="submitButton">Purchase</button>
                </div>
            </div>
        </form>

        <div class="col d-flex flex-column mb-4" id="col2">
            <div>
                <div class="d-flex mb-1">
                    <label class="text-uppercase flex-grow-1">Your Order</label>
                    <button onclick="toggleEditMode(false, false)" class="text-uppercase btn btn-sm" id="toggleBtnCancel">Cancel</button>
                    <button onclick="toggleEditMode(!editMode, true)" id="toggleBtn" class="btn btn-sm"></button>
                </div>
                <div id="orderSummary"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
            <partial name="_ValidationScriptsPartial" />
    }
    <script>
        var editMode = true;

        window.onload = function () {
            toggleEditMode(false, false);
        }

        function toggleEditMode(varEditMode, willSave) {
            editMode = varEditMode;

            if (willSave && editMode == false) {
                saveOrder(updateOrderSummary, editMode);
            } else {
                updateOrderSummary(editMode);
            }

            updateToggleBtn(editMode);
            toggleForm(editMode);
        }

        function load() {
            var checkoutForm = $('#col1');
            var orderSummary = $('#col2');
            var titleDiv = $('#titleDiv');
            var noOrderDiv = $('#noOrderDiv');

            $.ajax({
                url: '/Cart/HasOrders',
                method: 'GET',
                success: function (result) {
                    if (result) {
                        if (checkoutForm.hasClass('d-none')) {
                            checkoutForm.removeClass('d-none');
                        }

                        if (orderSummary.hasClass('d-none')) {
                            orderSummary.removeClass('d-none');
                        }

                        if (titleDiv.hasClass('d-none')) {
                            titleDiv.removeClass('d-none');
                        }

                        if (noOrderDiv.hasClass('d-none') == false) {
                            noOrderDiv.addClass('d-none');
                        }
                    } else {
                        if (checkoutForm.hasClass('d-none') == false) {
                            checkoutForm.addClass('d-none');
                        }

                        if (orderSummary.hasClass('d-none') == false) {
                            orderSummary.addClass('d-none');
                        }

                        if (titleDiv.hasClass('d-none') == false) {
                            titleDiv.addClass('d-none');
                        }

                        if (noOrderDiv.hasClass('d-none')) {
                            noOrderDiv.removeClass('d-none');
                        }
                    }

                    $('#parentContainer').removeClass('d-none');
                },
                error: function () {
                    console.log('Something went wrong.')
                }
            });
        }

        function saveOrder(callback, editMode) {
            $.ajax({
                url: '/Cart/Save',
                type: 'GET',
                success: function () {
                    callback(editMode);
                    console.log('Success');
                },
                error: function () {
                    console.log('Error');
                }
            });
        }

        function updateOrderSummary(editMode) {
            $.ajax({
                url: '/Cart/GetOrderSummary',
                type: 'GET',
                data: { editMode: editMode },
                success: function (result) {
                    $('#orderSummary').html(result);
                    load();
                    console.log('Obtained order summary');
                },
                error: function () {
                    console.log('Not found');
                }
            });
        }

        function modifyCountClicked(cartId, count) {
            $.ajax({
                url: '/Cart/ChangeCount',
                type: 'GET',
                data: { cartId: cartId, count: count },
                success: function (result) {
                    $('#orderSummary').html(result);
                },
                error: function () {
                    console.log('Not found');
                }
            });
        }

        function toggleForm(editMode) {
            toggleControl(document.getElementById('firstNameControl'), editMode);
            toggleControl(document.getElementById('lastNameControl'), editMode);
            toggleControl(document.getElementById('contactNoControl'), editMode);
            toggleControl(document.getElementById('addressControl'), editMode);
        }

        function toggleControl(control, editMode) {
            if (editMode) {
                control.setAttribute('disabled', '');
            } else {
                control.removeAttribute('disabled');
            }
        }

        function updateToggleBtn(editMode) {
            var toggleBtn = $('#toggleBtn');
            var toggleBtnCancel = $('#toggleBtnCancel');

            if (editMode == true) {
                if (toggleBtn.hasClass('btn-primary')) {
                    toggleBtn.removeClass('btn-primary');
                }

                if (toggleBtn.hasClass('btn-warning') == false) {
                    toggleBtn.addClass('btn-warning');
                }

                if (toggleBtnCancel.hasClass('d-none')) {
                    toggleBtnCancel.removeClass('d-none');
                }

                toggleBtn.html('<i class="bi bi-floppy"></i> Save');
            } else {
                if (toggleBtn.hasClass('btn-warning')) {
                    toggleBtn.removeClass('btn-warning');
                }

                if (toggleBtn.hasClass('btn-primary') == false) {
                    toggleBtn.addClass('btn-primary');
                }

                if (toggleBtnCancel.hasClass('d-none') == false) {
                    toggleBtnCancel.addClass('d-none');
                }

                toggleBtn.html('<i class="bi bi-pencil"></i> Edit');
            }
        }
    </script>
}